@model HelpdeskMVC.Models.Home.UserComplaintModel

@{
    ViewBag.Title = "UserComplaint";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<h2>UserComplaint</h2>
@section scripts{
<script>
    $(document).ready(function () {

        $("#ApplicationId").change(function () {
            $.ajax({
                type: "GET",
                url: "/Home/GetModuleList",
                //contentType: "text/xml",
                data: "ApplicationId=" + $("#ApplicationId").val(),
                success: function (data, status, xhr) {
                    $.each(data, function (index, row) {

                        $("#ModuleId").append("<option value='" + row.Id + "'>" + row.ModuleName + "</options>");

                    });
                },
                error: function (xhr, status, error) {
                    alert("Error!");
                }
            });
        });
        $('#btnSubmit').click(function () {
            alert("rishab");
            var complaintOjbect = new Object();
            complaintOjbect.ApplicationId = $('#ApplicationId').val();
            complaintOjbect.ModuleId = $('#ModuleId').val();
            complaintOjbect.ComplaintSubject = $('#ComplaintSubject').val();
            complaintOjbect.ComplaintDescription = $('#ComplaintDescription').val();
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "/Issues/AddUserIssues",
                    data: complaintOjbect
                });
            });
        });
    });


  
     
        
    </script>
}
   

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ApplicationId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ApplicationId, new SelectList(Model.ApplicationName, "Id", "ApplicationName"), "--Select Application--", htmlAttributes: new { @class = "form-control AppId", id = "ApplicationId" })
                @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ModuleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ModuleId, new SelectList(""), "--Select Module--", htmlAttributes: new { @class = "form-control", id = "ModuleId" })
                @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ComplaintSubject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComplaintSubject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ComplaintSubject, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ComplaintDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ComplaintDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ComplaintDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btnSubmit" value="submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

